.text-heading{
  color: #EDF5E1;
  font-family: 'Courier New', Courier, monospace;
}

.header{
  background-image: url(/images/bg1.jpg);
  padding: 15px;
  text-align: center;
}

.nav_menu{
  overflow: hidden;
  background-color: #379683;
  clear: left;
  text-align: center;
  padding: 15px;
}

.nav_menu a{
  color: #EDF5E1;
  padding: 14px 16px;
  text-decoration: none;
}

.nav_menu a:hover {
  background-color: #05386B;
}

.body-bg{
  background-color: #5CDB95;
  font-family: 'Courier New', Courier, monospace;
}

.about{
  color: #05386B;
  text-decoration-style: solid;
  text-shadow: 1px 1px #379683;
}

.footer{
  background-color:#379683;
  padding: 15px;
  text-align: center;
  overflow: hidden;
  clear: left;
  bottom: 0;
}

.footer a{
  color: #EDF5E1;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'Courier New', Courier, monospace;
}

.table-blog{
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
}

table, td, th{ 
  border: 1px solid #05386B;
  border-collapse: collapse;
  max-width: 70%; 
  margin: 50px auto; 
  text-align: center;
  color: #05386B;
  font-size: 20px;
}

.row{
  display: flex;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 50px;
}

.column{
  flex: 30%;
  padding: 10px;
}

.tr1, .tr2{
  background-color: #379683;
  color: #EDF5E1;
  height: 50px;
  width: 70px;
}

.title1{
  background-color: #05386B;
  color: #EDF5E1;
}